
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos por el cliente</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />

</head>

{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/estiloPedidosPorCliente.css' %}">
{% endblock %}



{% block content %}
<div class="container py-4">
    <div class="row">
        {% for receta in recetas %}
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">{{ receta.nombre_receta | capfirst }}</h5>
                    <div class="category-tags">
                        {% if receta.categoria %}
                        <span class="category-tag">{{ receta.categoria }}</span>
                        {% endif %}
                    </div>
                </div>
                
                <div class="image-container">
                    <img src="{{ receta.link }}" class="card-img-top" alt="{{ receta.nombre_receta }}">
                    <div class="dish-info">
                        <span>Tiempo de preparación: 20 min</span>
                    </div>
                    <img src="{% static 'imgs/flags/italy.jpg' %}" class="origin-flag" alt="País de origen">
                </div>
                
                <div class="card-body">
                    <p class="dish-description">{{ receta.descripcion|truncatechars:84 | capfirst }}</p>
                    <p class="price">$5.30</p>
                </div>
                
                <div class="button-container">
                    <button type="button" class="btn btn-modify" data-bs-toggle="modal"
                            data-bs-target="#agregarIngredienteModal"
                            onclick="mostrarId('{{ receta.id }}')">
                        Personalizar
                    </button>
                    <button type="button" class="btn btn-order" 
                            onclick="crearPedido('{{ receta.id }}')">
                        Ordenar
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"rel="stylesheet"/>

<script>
    function crearPedido(recetaId) {
        fetch('/api/crear-pedido/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                receta_id: recetaId
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                toastr.success("¡Pedido actualizado con éxito!");
            } else {
                toastr.error("Error al actualizar");
            }
        })
        .catch(error => {
            toastr.error('Error al crear el pedido', 'error');
            console.error('Error:', error);
        });
    }
    
    </script>
{% endblock %}



