{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/homeCliente.css' %}">
    <title>{% block title %}App Cocina{% endblock %}</title>
</head>
<script src="{% static 'js/homeClienteSockets.js' %}" defer></script> <!-- El 'defer' asegura que el JS se cargue después de la carga del contenido -->
<body>

  {% block nav %}
  {% endblock %}

  <div class="container-fluid" style="height: 100vh;">
    <div class="row h-100">
        <!-- Columna Izquierda -->
        <div class="col-3 bg-image"></div>
        
        <!-- Columna Central con Blur -->
        <div class="col-6 d-flex justify-content-center align-items-center text-white">
            <div class="blur-div">
                {% if pedido %}
                <h2>Detalles del Pedido</h2>
                <p><strong>Nombre del Pedido:</strong> {{ pedido.receta_pedido.recetas.nombre_receta.nombre }}</p>
                <p><strong>ID del Pedido:</strong> #{{ pedido.id }}</p>
                <p><strong>Solicitado por:</strong> Mesa N° #{{ pedido.usuario_id }}</p>
        
                <div class="order-status">
                    <span><strong>Estado:</strong></span>
                    <span class="status-icon estado-pedido" data-pedido-id="{{ pedido.id }}">
                        {% if pedido.estado.nombre_estado == 'En proceso' %}
                        <i class="bi bi-gear-fill status-icon-proceso"></i>
                        {% elif pedido.estado.nombre_estado == 'Pendiente' %}
                            <i class="bi bi-clock-fill status-icon-pendiente"></i>
                        {% elif pedido.estado.nombre_estado == 'Completado' %}
                            <i class="bi bi-check-circle-fill text-success"></i>
                        {% elif pedido.estado.nombre_estado == 'Cancelado' %}
                            <i class="bi bi-x-circle-fill text-danger"></i>
                        {% endif %}
                        {{ pedido.estado.nombre_estado }}
                    </span>
                </div>
                {% else %}
                <p>No hay pedidos activos</p>
                {% endif %}
            </div>
        </div>
        
        <!-- Columna Derecha -->
        <div class="col-3 bg-image"></div>
    </div>
</div>

  {% block script %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  {% endblock %}
</body>
</html>

