.logo {
  width: 100px;  /* Ajusta el ancho a 150px */
 /* Mantén la proporción original */
 border-radius: 30px;
}

navbar {
    background-color: #333;
    padding: 10px;
    display: flex;
    align-items: center;
  }


.container {
  display: grid;
  place-items: center; /* Centra en ambos ejes */
  height: 100vh;
}

.login-container {
  background-color: white; /* Fondo blanco para el formulario */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
  padding: 20px; /* Espaciado interno */
  width: 300px; /* Ancho del contenedor */
  text-align: center; /* Centrar texto */
  margin-left: auto;
  margin-top: 10%;
  margin-right: auto;
}
.background{
  background-color:  
  red;
}

.input_login::placeholder{
  text-align: center;
}

.alert-custom {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1050;
  display: none; /* Oculto por defecto */
  padding: 15px;
  border-radius: 5px;
  color: white;
}
.alert-custom.error {
  background-color: red; /* Color de fondo para errores */
}

.imagenreceta{
  height: 246px;
  width: 100%;
}

.btn-custom {
  margin-top: 10px;
  padding: 10px 20px;
}
.toast-top-center{
  position: absolute !important;
  bottom: 500px; /* Mueve la notificación 50 píxeles hacia abajo */
  
}

.box{
  margin-left: 100px;
}

.caja{
  margin: 100px;
}