/* Fondo de la página */
.estilostock body {
    background-color: #f5f5f5; /* Color de fondo suave */
    font-family: 'Arial', sans-serif;
    color: #333;
}

/* Contenedor de la tabla de ingredientes */
.estilostock .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

/* Encabezado de la página */
.estilostock h2 {
    font-size: 2.5rem;
    color: #343a40;
    font-weight: 600;
    margin-bottom: 30px;
}

/* Estilo de la tabla */
.estilostock table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.estilostock th, .estilostock td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

.estilostock th {
    background-color: lightslategray;
    color: white;
    font-weight: bold;
}

.estilostock td {
    background-color: #f9f9f9;
    font-size: 1rem;
}

.estilostock td a {
    margin: 0 5px;
    text-decoration: none;
    font-size: 1rem;
}

.estilostock td a:hover {
    text-decoration: underline;
}

/* mensaje de "No hay ingredientes disponibles" */
.estilostock .no-ingredientes {
    font-size: 1.2rem;
    color: #888;
    text-align: center;
    margin-top: 40px;
}

/* Botones */
.btn-secondary {
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    border-color: transparent;
}

.estilostock .btn-success {
    background-color: #28a745;
    color: #fff;
}

.estilostock .btn-success:hover {
    background-color: #218838;
}

/* Modal */

.estilostock .modal-title {
    font-size: 1.5rem;
    color: #fff;
}

.estilostock .modal-header{
    background-color: #d1694c;
}

.estilostock .form-control {
    margin-bottom: 10px;
}

/* botón de agregar ingrediente */
.estilostock .btn-primary {
    background-color: #E27D60;
    border-color: #E27D60;
    transition: all 0.3s ease;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    padding: 10px 20px;
}

.estilostock .btn-primary:hover {
    background-color: #d1694c;
    transform: scale(1.05);
}

.estilostock .btn-flotante {
    position: fixed;
    bottom: 20px;  /* 20px desde la parte inferior */
    right: 20px;   /* 20px desde la parte derecha */
    z-index: 9999; /* botón encima de otros elementos */
    border-radius: 50%;  /* botón circular */
    padding: 15px 30px;  /* Tamaño del botón */
}

