body {
    background-image: url("/static/imgs/bg-homeusuario-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    max-height:100vh ;
}

/* Div central con efecto de blur */
.blur-div {
    backdrop-filter: blur(10px);
    border: 2px solid white;
    padding: 20px;
    border-radius: 10px;
    width: 100%; /* Ocupa el 100% del ancho de la columna central */
    text-align: center;
    font-size: 2.5rem; /* Tamaño general aumentado */
}

.order-status {
    margin-top: 15px;
    font-size: 3rem; /* Tamaño muy grande para el estado */
}

.status-icon i {
    margin-right: 8px;
}

.blur-div h2 {
    font-size: 4rem; /* Tamaño mayor para el título */
}

.estado-actualizado {
    animation: highlight 2s ease-out;
}

@keyframes highlight {
    0% { background-color: #ffeb3b; }
    100% { background-color: transparent; }
}

.status-icon i {
    margin-right: 5px;
}

.status-icon-proceso {
    color: #17a2b8; /* Bootstrap info blue */
}

.status-icon-pendiente {
    color: #ffc107; /* Bootstrap warning yellow */
}