{% extends 'base.html' %}

{% block title %}Título de la Página{% endblock %}
  
{% block content %}
<div class="card" style="width: 18rem;">
    <img src="" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Carne mechada con pure</h5>
      <h6 class="card-subtitle mb-2 text-muted">Carne mechada</h6>
      <p class="card-text">La carne mechada con puré es una propuesta gastronómica que combina la jugosidad y suavidad de la carne de res deshilachada con la cremosidad del puré de papas. La carne se cocina lentamente con una mezcla de especias, cebolla, ajo, pimientos y tomate, logrando un sabor profundo y aromático que se deshace en cada bocado. Se sirve sobre un puré suave y cremoso, creando un equilibrio perfecto entre texturas y sabores. Es un plato reconfortante y lleno de tradición, ideal para aquellos que buscan una experiencia culinaria casera con un toque gourmet.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
{% endblock %}
