{% extends 'base.html' %}

{% block title %}Título de la Página{% endblock %}

{% block content %}
<div class="mt-4">
    <h2 style="text-align: center;">Listado de Ingredientes</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Ingrediente</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for ingrediente in ingredientes %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ ingrediente.nombre }}</td>
                <td>{{ ingrediente.ingredientes|join:", " }}</td>
                <td>
                    <a href="" class="btn btn-primary">Modificar</a>
                    <a href="" class="btn btn-secondary">Disponibilidad</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center">No hay ingredientes disponibles.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
